
body{
	background-color: #89cff0;
}

#MainHeader{
	background-color: blue;
	font-family: "Monospace", Courier New, serif;
	font-size: 15px;
	text-align: center;
	border-style: dashed;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#nav{
	height: 25px;
	position: relative;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	

}

#nav ul{
	list-style-type: none;
	display: block;
	text-align center;


}

#nav li{
	display: inline-block;


}


#nav a{
	display: block;
	width: 60px;
}

#mainBody {
	position: center;
}

#signUpForm { 
	     margin: auto;
	     width: 50%;
	     border: 3px dotted white;
  	     padding: 10px;
}
